.blog-container{
    display: flex;
  }
  .blog-title{
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  .blog-text {
    margin: 20px 50px 20px 50px;
  }

  .blog-text p{
    font-family: 'Raleway', sans-serif;
  }
  .blog-text h3{
    font-family: 'Montserrat', sans-serif;
  }

  .image-container img{
    width: 800px;
    height: 400px;
  }

  .image-container{
    text-align: center;
  }

  .blog-side-text{
    border: 1px solid black; 
    width: 40%;
    height:fit-content;
  }
  .blog-side-text h3{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
  }
  
  .side-text-link{
    margin: 20px;
    display: flex;
    flex-direction: column;
  }

  .side-text-link img{
    width: 150px;
    height: 100px;
  }
  .side-text-link a{
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
  }