.blog-container{
    display: flex;
    background-color: #edede9;
  }
  .blog-title{
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  .blog-text {
    margin: 20px 50px 20px 50px;
  }

  .blog-text p{
    font-family: 'Raleway', sans-serif;
  }
  .blog-text h3{
    font-family: 'Montserrat', sans-serif;
  }

  .image-container img{
    width: 800px;
    height: 400px;
  }

  .image-container{
    text-align: center;
  }

  .blog-side-text{
    border: 1px solid black; 
    width: 40%;
    height:fit-content;
  }
  .blog-side-text h3{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
  }
  
  .side-text-link{
    margin: 20px;
    display: flex;
    flex-direction: column;
  }

  .side-text-link img{
    width: 150px;
    height: 100px;
  }
  .side-text-link a{
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
  }

  @media screen and (max-width:1115px) {
    .blog-text {
        margin: 10px 40px 10px 40px;
      }

      .image-container img{
        width: 100%;
        height: 100%;
      }

}

@media screen and (max-width:850px) {
    .blog-text p{
        font-size: 13px;
      }
}

@media screen and (max-width:750px) {
    .blog-title{
        font-size: 20px;
      }

    .blog-text h3{
        font-size: 15px;
    }
    
    .blog-container{
       flex-direction: column;
      }

      .blog-side-text{
        width: 100%;
      }

    .side-text-link img{
        width: 200px;
        height: 150px;
        margin: auto;
    }
    .blog-side-text h3{
        font-size: 25px;
    }
}

