.form-add-container{
    display: flex;
    justify-content: center;
    border: 1px solid #22333b;;
    width: max-content;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
    border-radius: 10px;
}

.form-add{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    padding: 30px;
}

.form-add button{
    grid-column: 1/3;
    padding: 10px;
}

.labels-container{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(4,auto);
}

.labels-container p{
    padding-left: 10px;
}
.plus-btn{
    cursor: pointer;
}

.picture-input{
    grid-column: 1/3;
}

.description-input{
    grid-column: 1/3;
    height: 100px;
    padding: 5px;
    resize: none;
}

.error-label-right-top{
    position: absolute;
    margin-top: 23px;
    margin-left: 190px;
    font-size: 12px;
}

.error-label-left-top{
    position: absolute;
    margin-top: 23px;
    font-size: 12px;
}

.error-label-left-middle{
    position: absolute;
    margin-top: 75px;
    font-size: 12px;
}

.error-label-right-top{
    position: absolute;
    margin-top: 75px;
    margin-left: 190px;
    font-size: 12px;
}


.error-label-center{
    position: absolute;
    margin-left: 100px;
    margin-top: 23px;
    font-size: 12px;
}

.error-label-left{
    position: absolute;
    margin-top: 178px;
    font-size: 12px;
}

.error-label-right{
    position: absolute;
    margin-top: 23px;
    margin-left: 190px;
    font-size: 12px;
}

