.pomodoro-header{
    display: flex;
    justify-content: space-around
}
.pomodoro-header input{
    width: 50px;
    margin-left: 20px;
}

.pomodoro-main{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.progress-bar{
    width: 210px;
    height: 30px;
    background-color: green;
}

.progress__fill{
    width: 0%;
    height: 100%;
    background-color: blue;
}