  
  .videoPage{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-image: url("/public/images/img-home.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .video-title{
    font-size: 25px;
    color: #22333b;
    font-family: 'Dosis', sans-serif;
  }
  .video-container{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.59);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.28);
    margin: 5vh 40vh 10vh 40vh;
    padding: 20px;
    height: fit-content;
  }
  .video-item{
    flex-direction: column;
  }

  .video-image{
    width: 600px;
    height: 300px;
    border-radius: 20px;    
    margin: auto;
    margin-top: 20px;
  }

  .video-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 600px;
  }
  .video-info p{
    padding-top: 10px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
  }
  .pomodoro-btn-container{
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .pomodoro-btn{
    padding:10px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    border-radius: 7px;
    border-style: none;
    color: #0d1b2a;
    cursor: pointer;
  }
  .pomodoro-btn:hover{
    color: #fff;
    background-color: #0d1b2a;
    transition: 0.8s;
  }

  .information-container{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }

  .information-container p{
    font-family: 'Roboto Condensed', sans-serif;
  }

  .information-container i{
    padding: 12px 10px 5px 10px;
    cursor: pointer;
  }

  .favorite-container{
    display: flex;
  }



  @media screen and (max-width:1165px) {
    .video-title{
        font-size:20px;
    }
    .video-image{
        width: 400px;
        height: 200px;
    }

    .video-info {
       font-size: 15px;
      }

    .video-container{
        margin: 2vh 30vh 20vh 30vh;
    }


}

@media screen and (max-width:890px) {

    .videoPage{
      position: absolute;
    }
    .video-title{
        font-size:15px;
    }
    .video-info {
      width: auto;
    }
    .video-info p{
        font-size: 14px;
    }
    .video-image{
        width: 100%;
        height: 100%;
    }
    .video-container{
        margin: 2vh 2vh 2vh 2vh;
        padding: 15px 2px 15px 2px;
    }

    .pomodoro-btn{
      font-size: 12px;
    }

    .information-container p{
      font-size: 10px;
    }

}
